<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Add Book</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hand"(click)="redirectToLogout()">Logout</a>
    </li>

    <button type="button" class="btn btn-primary" routerLink="/home/cart">
     Cart <span class="badge badge-light">{{cartCount}}</span>
    </button>

    <p [ngStyle]="{margin:'.5% 0 0 50%'}">Welcome <span><i><strong> {{username}}</strong></i></span></p>
 
  </ul>